.series-panel {
  flex: 1;
  height: 100%;
}

.series-list {
  padding: 0;
  margin: 0;
}

.series-list-item {
  list-style: none;
  padding: 1rem;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  color: rgba(255,255,255,.7);
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #298eea;
    color: #fff;
  }

  &.active {
    background-color: #298eea;
    color: #fff;
  }
}